[submodule "dank-qml-common"]
	path = dank-qml-common
	url = https://github.com/Cytech-Team/CyShell-QML-Common.git
	branch = cyshell-dev

[submodule "agent/cycom/runtime"]
	path = agent/cycom/runtime
	url = https://github.com/Cytech-Team/CyComAgent-MCP.git
	branch = main
