[Desktop Entry]
Type=Application
Name=CyShell
Comment=Select an application to open links and files
Exec=cyshell open %u
Icon=com.cytechteam.cyshell
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/cyshell;x-scheme-handler/dms;text/html;application/xhtml+xml;
Categories=Utility;
